.reviews {
  padding: 4rem 0;
  background: var(--doki-magenta);
  gap: 1.25rem;
  color: white;
}

.reviews__title {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  text-align: center;
}

.reviews__body {
  font-size: clamp(1rem, 1.35vw, 1.75rem);
  max-width: 52ch;
  margin: 0 auto;
  text-align: center;
  color: var(--doki-light-pink);
}

.embla {
  margin-top: 2rem;
  overflow: hidden;
  min-height: 225px;
  cursor: grab;
}

.embla__container {
  display: flex;
}

.embla__slide {
  --_width: 16.5%;

  position: relative;
  width: var(--_width);
  min-width: var(--_width);
  height: inherit;
  padding: 0 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-right: 1px solid #f35fae;
}

.reviews__quote {
  font-size: 1.75rem;
  height: fit-content;
  text-align: center;
  font-family: var(--riffic);
  color: var(--doki-light-pink);
}

.reviews__review-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100%;
}

.reviews__review {
  font-family: var(--riffic);
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 20ch;
}

@media screen and (min-width: 640px) {
  .embla__slide {
    --_width: 14%;
  }
}

@media screen and (min-width: 1024px) {
  .embla__slide {
    --_width: 16.5%;
    padding: .5vw 3vw;
  }
}
