.footer {
  padding-top: 3.5rem;
  background: var(--doki-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 50;
}

.footer__list {
  --_pad: 1.25rem 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--_pad);
  gap: 1rem;
}

.footer__list--ratings {
  --_pad: 2rem 0;

  flex-direction: column;
  gap: 1.25rem;
}

.footer__link {
  --_bg-color: transparent;
  --_text-color: var(--doki-purple);

  display: flex;
  padding: 1rem;
  color: var(--_text-color);
  border: 1px solid var(--doki-purple);
  border-radius: 9999px;
  background: var(--_bg-color);
  transition: background, color 150ms ease;
}

.footer__link:hover {
  --_bg-color: var(--doki-purple);
  --_text-color: white;
}

.footer__text {
  font-family: var(--aller);
  font-size: .75rem;
  margin: 0 auto;
  max-width: 40ch;
  color: var(--doki-purple);
  text-align: center;
  margin-bottom: 1rem;
}

.footer__text--white {
  color: white;
}

.footer__disclaimer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: #272727;
}

.footer__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.footer__rate-img {
  width: unset;
  height: 120px;
}

.footer__disc-text {
  color: white;
  font-size: 1.1rem;
  font-family: var(--aller);
}

@media screen and (min-width: 640px) {
  .footer__text {
    max-width: 60ch;
  }

  .footer__list--ratings {
    flex-direction: row;
  }
}